<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>2675 Ribera Rd, Carmel, California, 93923</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "6506565765" %></p>

    <h3>Email</h3>

    <p><a href="mailto:jordan@devcamp.com?subject=PortfolioContact" "email me">michaelhyorr@gmail.com</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/place/Carmel+River+State+Beach/@36.5373847,-121.9323129,17z/data=!3m1!4b1!4m5!3m4!1s0x808de8a229fe1fdf:0x3bc3dc2b13ecb1f7!8m2!3d36.5373847!4d-121.9279355" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
