<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Location</h3>

    <p>2675 Ribera Rd, Carmel, California, 93923</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "6506565765" %></p>

    <h3>Email</h3>

    <p><a href="mailto:michaelhyorr@gmail.com?subject=PortfolioContact" "email me">michaelhyorr@gmail.com</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3205.6936448757538!2d-121.9323128672735!3d36.53738468000361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808de8a229fe1fdf%3A0x3bc3dc2b13ecb1f7!2sCarmel+River+State+Beach!5e0!3m2!1sen!2sus!4v1517608999415" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
