<div class="inner cover">
  <h1 class="cover-heading">Hyocorp</h1>
  <p class="lead">Welcome</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
