<div class="inner cover">
  <h1 class="cover-heading">Hyo Street</h1>
  <p class="lead">Welcome to the Neighborhood</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>